<?xml version="1.0" encoding="utf-8"?>
<configuration>
        <configSections>
            <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
        </configSections>
	<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
        <container>
            <register type="AutoCorrection.Searcher.ISearcher, AutoCorrection"
                  mapTo="AutoCorrection.Searcher.HashSearcher, AutoCorrection" />
			<register type="AutoCorrection.Searcher.IIndexer, AutoCorrection"
	               mapTo="AutoCorrection.Searcher.HashIndexer, AutoCorrection" />
        </container>
    </unity>
	<appSettings>
		<add key="DictionaryPath" value="dict.txt"/>
		<add key ="MaxDistance" value ="1"/>
	</appSettings>
</configuration>